<h1 class="fw-bold text-center">Liste des profils</h1>
  <a style="float: right" [routerLink]="['/home/profil', 'addprofil']" title="Ajouter un new profil" class="mt-2 mb-3"><i class="fa fa-2x fa-user-plus"></i></a>
<router-outlet></router-outlet>
  <hr>
<table id="profil" mat-table [dataSource]="profils" class="shadow-sm p-3 mb-5 bg-white table table-bordered table-responsive table-bordered-dark">
  <ng-container matColumnDef="libelle">
    <th mat-header-cell *matHeaderCellDef><h3 class="fw-bold text-center">Libelle</h3></th>
    <td id="td{{pro.id}}" contenteditable="true" class="align-middle" (focusout)="update(pro)" mat-cell *matCellDef="let pro">{{ pro.libelle }}</td>
  </ng-container>
  <ng-container matColumnDef="liste">
    <th mat-header-cell *matHeaderCellDef><h3 class="fw-bold text-center">Liste des utilisateurs d'un profil</h3></th>
    <td mat-cell *matCellDef="let pro" class="text-center p-3">
      <a [routerLink]="['/home/', pro.id, 'users']" class="btn btn-sm btn-outline-info"><i class="fa fa-2x fa-users"></i></a>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef><h3 class="fw-bold text-center">Action</h3></th>
    <td mat-cell *matCellDef="let pro" class="text-center p-3">
      <a (click)="delete(pro)" class="btn btn-sm btn-outline-danger"><span class="material-icons">delete</span></a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="colonne"></tr>
  <tr mat-row *matRowDef="let row; columns: colonne;"></tr>
</table>
<div class="d-flex justify-content-center">
  <mat-paginator [length]="5"
                 [pageIndex]=""
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[1, 2, 3, 4, 5]"
                 (page)="pageEvent = getServerData($event)">

  </mat-paginator>
</div>

