<p-accordion [multiple]="true" class="min-vh-50 min-vw-50">
  <p-accordionTab id="item{{ref.id}}">
    <p-header>
      <div class="row">
        <div class="col-7 pt-4">{{ref.libelle}}</div>
        <div class="col">
          <button class="btn btn-sm"><a [routerLink]="['/home/', 'updatereferentiel', ref.id]" title="modifier ce referentiel"><span class="material-icons" style="color: darkturquoise">create</span></a></button>
          <button class="btn btn-sm"><a (click)="deleteRef(ref)"><span class="material-icons" title="supprimer ce referentiel" style="color: red">close</span></a></button>
          <button (click)="generatePDF()" class="btn btn-sm btn-outline-danger mb-2"><i class="fa fa-file-pdf" title="Generate Pdf"></i></button>
        </div>
      </div>
    </p-header>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h5 style="color: #52B4CA;">Presentation</h5>
        {{ref.presentation}}
      </li>
      <li class="list-group-item">
        <h5 style="color: #52B4CA ;">Critere Evaluation</h5>
        {{ref.critereEvaluation}}
      </li>
      <li class="list-group-item">
        <h5 style="color: #52B4CA ;">Critere Admission</h5>
        {{ref.critereAdmission}}
      </li>
      <li class="list-group-item" id="programme" *ngIf="ref.programme">
        <h5 style="color: #52B4CA ;">Programme</h5>
        <!--<pdf-viewer [src]="pdfSrc" [original-size]="false" [show-all]="false" [page]="1"></pdf-viewer>-->
        <button (click)="openProgramme()" class="btn btn-sm btn-outline-danger mb-2"><i class="fa fa-download"></i></button>
      </li>
      <li class="list-group-item">
        <p-accordionTab>
          <p-header>
            <div class="row">
              <h5 style="color: #52B4CA;">
                Groupe de Competences
              </h5>
            </div>
          </p-header>
          <select class="form-select">
            <option value="{{gc.id}}" *ngFor="let gc of ref.groupeCompetence" (click)="redirect()">{{gc.libelle}}</option>
          </select>
        </p-accordionTab>
      </li>
    </ul>
  </p-accordionTab>
</p-accordion>

