h5 {
  display: table;
  white-space: nowrap;
  text-align: center;
  font-size: 15px;
}
h5:before, h5:after {
  content: " ";
  display: table-cell;
  width: 50%;
  background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=) repeat-x left center;
}
