<a href="addprofil">Ajout Profil</a>
<table mat-table [dataSource]="profils" class="table table-bordered table-responsive table-bordered-dark">
  <ng-container matColumnDef="libelle">
    <th mat-header-cell *matHeaderCellDef>libelle</th>
    <td mat-cell *matCellDef="let pro">{{ pro.libelle }}</td>
  </ng-container>
  <ng-container matColumnDef="liste">
    <th mat-header-cell *matHeaderCellDef>liste</th>
    <td mat-cell *matCellDef="let pro">
      <button class="btn-dark" type="submit" (click)="getUsersByProfil(pro)">liste des {{ pro.libelle }}</button>
    </td>
  </ng-container>
  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef>update</th>
    <td mat-cell *matCellDef="let pro">
      <button class="btn-danger" id="btn{{pro.id}}" (click)="editProfil(pro)">update</button>
      <label id="label" style="display: none">Libelle</label><input type="text" style="display: none" [(ngModel)]="inputmodifie" id="input{{pro.id}}">
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>delete</th>
    <td mat-cell *matCellDef="let pro">
      <button class="btn-info" (click)="deleteprofil(pro)">delete</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="colonne"></tr>
  <tr mat-row *matRowDef="let row; columns: colonne;"></tr>
</table>
<div class="d-flex justify-content-center">
  <mat-paginator [length]="5"
                 [pageIndex]=""
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[1, 2, 3, 4, 5]"
                 (page)="pageEvent = getServerData($event)">

  </mat-paginator>
</div>
<div *ngIf="usersprofil" class="mt-5">
  <table mat-table [dataSource]="usersprofil" class="table table-bordered table-responsive table-bordered-dark">
    <ng-container matColumnDef="#">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let up">{{ up.id }}</td>
    </ng-container>
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef>nom</th>
      <td mat-cell *matCellDef="let up">{{ up.nom }}</td>
    </ng-container>
    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef>prenom</th>
      <td mat-cell *matCellDef="let up">{{ up.prenom }}</td>
    </ng-container>
    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef>login</th>
      <td mat-cell *matCellDef="let up">{{ up.login }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="colonneliste"></tr>
    <tr mat-row *matRowDef="let row; columns: colonneliste;"></tr>
  </table>
</div>
<p id="message" style="display: none">{{message}}</p>
