<h2 class="text-center mt-5 fw-bold text-info">Ajouter une nouvelle Promotion</h2>
<hr>
<form class="form-control" [formGroup]="addForm" (ngSubmit)="OnSubmit()">
  <div class="row">
    <div class="col-12">
      <img src="{{url}}" class="rounded-circle border border-info w-25 h-25" alt="pp">
    </div>
      <div class="form-group row mb-3">
        <label class="fw-bold form-label col-sm-4">Choix de la langue <label style="color: red">*</label></label>
        <div class="col-sm-7">
          <select class="form-select" placeholder="--select--" class="form-select" required="required" [formControlName]="'langue'" [ngClass]="{ 'is-invalid': submitted && f.langue.errors }">
            <option value="francais">Francais</option>
            <option value="anglais">Anglais</option>
          </select>
        </div>
      </div>
      <div class="form-group row mb-3">
        <label class="fw-bold form-label col-sm-4">Choix de la fabrique <label style="color: red">*</label></label>
        <div class="col-sm-7">
          <select class="form-select" placeholder="--select--" class="form-select" required="required" [formControlName]="'fabrique'" [ngClass]="{ 'is-invalid': submitted && f.fabrique.errors }">
            <option value="Sonatel Academy">Sonatel Academy</option>
          </select>
        </div>
      </div>
      <div class="form-group row mb-3">
        <label class="fw-bold form-label col-sm-4">Libelle <label style="color: red">*</label></label>
        <div class="col-sm-7">
          <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.libelle.errors }" type="text" [formControlName]="'libelle'" placeholder="libelle" >
        </div>
        <div *ngIf="submitted && f.libelle.errors" class="input_alert">
          <div *ngIf="f.libelle.errors.required || f.libelle.errors.required" class="alert-danger">Veillez entrer le libelle</div>
        </div>
      </div>
      <div class="form-group row mb-3">
        <label class="fw-bold form-label col-sm-4">Lieu de la promotion</label>
        <div class="col-sm-7">
          <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lieu.errors }" type="text" [formControlName]="'lieu'" placeholder="lieu">
        </div>
        <div *ngIf="submitted && f.lieu.errors" class="input_alert">
          <div *ngIf="f.lieu.errors.required || f.lieu.errors.required" class="alert-danger">Veillez entrer le lieu de la promo</div>
        </div>
      </div>
      <div class="form-group row mb-3">
        <label class="fw-bold form-label col-sm-4">Description <label style="color: red">*</label></label>
        <div class="col-sm-7">
          <textarea class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" type="text" [formControlName]="'description'" placeholder="description"></textarea>
        </div>
        <div *ngIf="submitted && f.description.errors" class="input_alert">
          <div *ngIf="f.description.errors.required || f.description.errors.required" class="alert-danger">Veillez entrer la description de la promo</div>
        </div>
      </div>
      <div class="form-group row mb-3">
        <label class="fw-bold form-label col-sm-4">Reference Agate <label style="color: red">*</label></label>
        <div class="col-sm-7">
          <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.reference_agate.errors }" type="text" [formControlName]="'reference_agate'" placeholder="reference agate">
        </div>
        <div *ngIf="submitted && f.reference_agate.errors" class="input_alert">
          <div *ngIf="f.reference_agate.errors.required || f.reference_agate.errors.required" class="alert-danger">Veillez entrer la reference</div>
        </div>
      </div>
      <div class="form-group row mb-3">
        <label class="fw-bold form-label col-sm-4">Date fin <label style="color: red">*</label></label>
        <div class="col-sm-7">
          <input  class="form-control" type="date"  [ngClass]="{ 'is-invalid': submitted && f.date_fin.errors }" [formControlName]="'date_fin'">
        </div>
        <div *ngIf="submitted && f.date_fin.errors" class="input_alert">
          <div *ngIf="f.date_fin.errors.required || f.date_fin.errors.required" class="alert-danger">Veillez entrer la date de fin</div>
        </div>
      </div>
      <div class="form-group row mb-3">
        <label class="fw-bold form-label col-sm-4">Referentiel</label>
        <div class="col-sm-7">
          <label class="form-check-label" *ngFor="let ref of referentiels">
            <input [formControlName]="'referentiel'" type="radio" class="form-check-input" name="referentiel" id="{{ref.id}}" [value]="ref.id">
            {{ref.libelle}}
          </label>
        </div>
      </div>
      <div class="form-group row mb-3">
        <label class="fw-bold form-label col-sm-4">avatar</label>
        <div class="col-sm-7">
          <input class="form-control" type="file" [formControlName]="'avatar'" (change)="onSelectFile($event)">
        </div>
      </div>
    <div class="row">
      <div class="col-6 form-group" formArrayName="apprenant">
        <h2>Ajout d'apprenants</h2>
        <div *ngFor="let skill of promogroupe().controls; let skillIndex=index" style="border: red;">
          <div [formGroupName]="skillIndex">
            <label class="fw-bold form-label">Email <label style="color: red">*</label></label>
            <div class="row">
              <div class="col-6">
                <input type="text" class="form-control" [formControlName]="'app'" [ngClass]="{ 'is-invalid': submitted && f.app.errors }" >
              <div *ngIf="submitted && f.app.errors" class="input_alert">
                <div *ngIf="f.app.errors.required || f.app.errors.required" class="alert-danger">Veillez entrer l'adresse email</div>
              </div>

              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-outline-secondary" (click)="addApprenant()">Ajouter des apprenants</button>
      </div>
      <div class="col-6">
        <label for="" class="form-label">Importer un ficher CSV</label>
        <input type="file" [formControlName]="'document'" (change)="File($event)">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <button type="submit" class="btn btn-outline-danger" style="float: left">Annuler</button>
      </div>
      <div class="col-6">
        <button type="submit" class="btn btn-info" style="float: right">Soumettre</button>
      </div>
    </div>
  </div>
</form>
<p>{{this.addForm.value | json}}</p>

