<flash-messages></flash-messages>

<p-accordion>
  <p-accordionTab>
    <p-header>
      <div class="row">
        <div class="col-7 pt-4">{{grpcmp.libelle}}</div>
        <div class="col">
          <button class="btn btn-sm"><a [routerLink]="['/home/grpcompetence', 'updategrpcompetence', grpcmp.id]" title="modifier ce groupe"><span class="material-icons" style="color: darkturquoise">create</span></a></button>
          <button class="btn btn-sm"><a (click)="deleteGrpComp(grpcmp)"><span class="material-icons" title="supprimer ce groupe" style="color: red">close</span></a></button>
        </div>
      </div>
    </p-header>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h5 style="color: #52B4CA;">Description</h5>
        {{grpcmp.description}}</li>
      <li class="list-group-item">
        <h5 style="color: #52B4CA;">Competence</h5>
        <select class="form-select">
          <option value="" *ngFor="let cmp of grpcmp['competence']">{{cmp.libelle}}</option>
        </select>
      </li>
      <li class="list-group-item">
        <h5 style="color: #52B4CA;">Tags</h5>
        <select class="form-select">
          <option value=""></option>
        </select>
      </li>
    </ul>
  </p-accordionTab>
</p-accordion>
