<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="home">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="home" class="nav-link active" aria-current="page" href="#">Users</a>
        </li>
        <li class="nav-item">
          <a routerLink="profil" class="nav-link">Profils</a>
        </li>
        <li class="nav-item">
          <a routerLink="login_check" class="nav-link" (click)="deconnexion()">Deconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
