<a class="mt-5" [routerLink]="['/home/', 'addcompetence']"><span class="material-icons" title="ajouter une competence">add_box</span></a>
<div class="row mt-5" id="liste">
    <h1 class="text-info mt-5">Liste des competences à valider</h1>
  <hr>
  <div class="col-4 overflow-auto bg-light">
    <mat-form-field>
      <mat-label>Groupes de Competences</mat-label>
      <mat-select [formControl]="toppingsControl">
        <mat-option *ngFor="let topping of grpcompetences" [value]="topping.id" (focusout)="getgroupe()">{{topping.libelle}}</mat-option>
      </mat-select>
    </mat-form-field>
    <p>{{toppingsControl.value}}</p>
    <ul class="list-group">
      <li class="list-group-item" aria-disabled="true"  *ngFor="let c of competences"><a [routerLink]="['/home/parametre/competence/', c.id, 'niveau']">{{c.libelle}}</a></li>
    </ul>
  </div>
  <div class="col form-control">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="row">
  <router-outlet></router-outlet>
</div>
