<h2 class="text-center text-info">Modifier le mot de passe</h2>
<hr>
<div class="form-group row mb-3">
  <label class="col-sm-4 col-form-label fw-bold">Ancien Password <label style="color: red">*</label></label>
  <div class="col-sm-7">
    <input  class="form-control" [(ngModel)]="pwd" (focusout)="verifier()" type="text" id="password">
  </div>
  <div *ngIf="!verifier()" class="input_alert mt-3">
    <div class="alert-danger">Vous devez saisir l'actuel password pour pouvoir le modifier</div>
  </div>
</div>

<form *ngIf="verifier()" [formGroup]="addForm" (ngSubmit)="onSubmit()" class="form-control">
  <div class="row">
    <div class="form-group mb-3 row">
      <label class="col-sm-4 col-form-label  fw-bold" for="password">Password <label style="color: red">*</label></label>
      <div class="col-sm-7">
        <div class="p-inputgroup" (click)="hide = !hide">
          <span class="p-inputgroup-addon">
              <i *ngIf="hide; else other" class="fas fa-key"></i>
              <ng-template #other>
                <i class="fas fa-eye"></i>
              </ng-template>
            </span>
          <input class="form-control" pInputText [type]="hide ? 'password' : 'text'" formControlName="password">        </div>
      </div>
    </div>

    <div class="error-messages">
      <ng-container *ngFor="let error of error_messages.password">
        <div class="error-message" *ngIf="addForm.get('password').hasError(error.type) && (addForm.get('password').dirty || addForm.get('password').touched)">
          {{ error.message }}
        </div>
      </ng-container>
    </div>

    <div class="form-group mb-3 row">
      <label class="col-sm-4 col-form-label  fw-bold" for="password">Confirmer Password <label style="color: red">*</label></label>
      <div class="col-sm-7">
        <div class="p-inputgroup" (click)="hide1 = !hide1">
          <span class="p-inputgroup-addon">
              <i *ngIf="hide1; else other" class="fas fa-key"></i>
              <ng-template #other>
                <i class="fas fa-eye"></i>
              </ng-template>
            </span>
          <input class="form-control" pInputText [type]="hide1 ? 'password' : 'text'" formControlName="confirmerpassword">        </div>
      </div>
    </div>

    <div class="error-messages">
      <ng-container *ngFor="let error of error_messages.confirmerpassword">
        <div class="error-message" *ngIf="addForm.get('confirmerpassword').hasError(error.type) && (addForm.get('confirmerpassword').dirty || addForm.get('confirmerpassword').touched)">
          {{ error.message }}
        </div>
      </ng-container>
    </div>

  </div>
  <div class="row btn-sm text-center mt-3">
    <button type="submit" class="btn btn-warning">Modifier</button>
  </div>
</form>
