<h2 class="text-center">Modifier ce Groupe de competence</h2>
<hr>
<form class="form-control" (ngSubmit)="OnSubmit()" [formGroup]="addForm">
  <div class="row">
    <div class="form-group row mb-3">
      <label class="col-sm-4 col-form-label fw-bold">Libelle <label style="color: red">*</label></label>
      <div class="col-sm-7">
        <input  class="form-control" type="text" [formControlName]="'libelle'" [ngClass]="{ 'is-invalid': submitted && f.libelle.errors }">
      </div>
      <div *ngIf="submitted && f.libelle.errors" class="input_alert">
        <div *ngIf="f.libelle.errors.required" class="alert-danger">libelle is required</div>
      </div>
    </div>
    <div class="form-group row mb-3">
      <label class="col-sm-4 col-form-label fw-bold">Description <label style="color: red">*</label></label>
      <div class="col-sm-7">
        <input  class="form-control" type="text" [formControlName]="'description'" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
      </div>
      <div *ngIf="submitted && f.description.errors" class="input_alert">
        <div *ngIf="f.description.errors.required" class="alert-danger">Description is required</div>
      </div>
    </div>
      <div class="form-group row mb-3">
        <label class="col-sm-4 fw-bold form-label">Competences <label style="color: red">*</label></label>
        <div class="col-sm-7">
          <angular2-multiselect [settings]="dropdownSettings"
                                [data]="comp"
                                formControlName="competence"
                                [(ngModel)]="selectedItems"
                                (onSelect)="onItemSelect($event)"
                                (onDeSelect)="OnItemDeSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                                (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
        </div>
      </div>
  </div>
  <div class="row btn-sm text-center">
    <button type="submit" class="btn btn-info">Soumettre</button>
  </div>
</form>

