<h2 class="text-center">Ajouter un nouveau Utilisateur</h2>
<hr>
<flash-messages></flash-messages>
<form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="form-control">
  <div class="row">
    <div class="col-12 text-center h-25 mb-5">
      <img src="data:image/jpeg;base64,{{avatar}}" class="rounded-circle border border-info w-25 h-25" alt="pp">
    </div>
    <div class="form-group row mb-3">
      <label class="col-sm-4 col-form-label fw-bold" for="login" id="login">Login <label style="color: red">*</label></label>
      <div class="col-sm-7">
        <input  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.login.errors }" type="text" [formControlName]="'login'" placeholder="login" >
      </div>
      <div *ngIf="submitted && f.login.errors" class="input_alert">
        <div *ngIf="f.login.errors.required" class="alert-danger">login is required</div>
      </div>
    </div>
    <div class="form-group mb-3 row">
      <label class="col-sm-4 col-form-label  fw-bold" for="password" id="password">Password <label style="color: red">*</label></label>
      <div class="col-sm-7">
        <div class="p-inputgroup" (click)="hide = !hide">
          <span class="p-inputgroup-addon">
              <i *ngIf="hide; else other" class="fas fa-key"></i>
              <ng-template #other>
                <i class="fas fa-eye"></i>
              </ng-template>
            </span>
          <input class="form-control" pInputText [type]="hide ? 'password' : 'text'" placeholder="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="password">        </div>
      </div>
      <div *ngIf="submitted && f.password.errors" class="alert-danger container mt-2">
        <div *ngIf="f.password.errors.required" class="form-label">le mot de passe est obligatoire</div>
      </div>
    </div>
    <div class="form-group mb-3 row">
      <label class="col-sm-4 col-form-label  fw-bold" for="nom" id="nom">Nom <label style="color: red">*</label></label>
      <div class="col-sm-7">
        <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" type="text" pattern="^[A-Z]+$" [formControlName]="'nom'" placeholder="nom" >
      </div>
      <div *ngIf="submitted && f.nom.errors" class="input_alert">
        <div *ngIf="f.nom.errors.required || f.nom.errors.pattern" class="alert-danger">Le nom doit etre ecrit correctement (Ex: ABBBB)</div>
      </div>
    </div>
    <div class="form-group mb-3 row">
      <label class="col-sm-4 col-form-label  fw-bold" for="prenom" id="prenom">Prenom <label style="color: red">*</label></label>
      <div class="col-sm-7">
        <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }" type="text" pattern="^[A-Z][a-z]+$" [formControlName]="'prenom'" placeholder="prenom" >
      </div>
      <div *ngIf="submitted && f.prenom.errors" class="input_alert">
        <div *ngIf="f.prenom.errors.required || f.prenom.errors.pattern" class="alert-danger">Le prenom doit etre ecrit correctement (Ex: Abbbb)</div>
      </div>
    </div>
    <div class="form-group mb-3 row">
      <label class="col-sm-4 col-form-label  fw-bold" for="email" id="email">Email <label style="color: red">*</label></label>
      <div class="col-sm-7">
        <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" type="email" [formControlName]="'email'" placeholder="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
      </div>
      <div *ngIf="submitted && f.email.errors" class="input_alert">
        <div *ngIf="f.email.errors.required || f.email.errors.pattern" class="alert-danger">Format email(Ex: rty21&@dfgh.dfg)</div>
      </div>
    </div>
    <div class="form-group mb-3 row">
      <label class="col-sm-4 col-form-label  fw-bold" for="adresse" id="adresse">Adresse <label style="color: red">*</label></label>
      <div class="col-sm-7">
        <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.adresse.errors }" type="text" [formControlName]="'adresse'" placeholder="adresse" >
      </div>
      <div *ngIf="submitted && f.adresse.errors" class="alert-danger">
        <div *ngIf="f.adresse.errors.required" class="alert-danger">Indiquer votre adresse</div>
      </div>
    </div>
    <div class="form-group mb-3 row">
      <label class="col-sm-4 col-form-label  fw-bold" for="telephone" id="telephone">Telephone <label style="color: red">*</label></label>
      <div class="col-sm-7">
        <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }" type="tel" pattern="^7[7|6|8|0][0-9]{7}$" [formControlName]="'telephone'" placeholder="telephone" >
      </div>
      <div *ngIf="submitted && f.telephone.errors" class="input_alert">
        <div *ngIf="f.telephone.errors.required  || f.telephone.errors.pattern" class="alert-danger">Le nom doit etre ecrit correctement (Ex: 77/76/78*******)</div>
      </div>
    </div>
    <div class="form-group mb-3 row">
      <label class="col-sm-4 col-form-label fw-bold" for="genre">Genre <label style="color: red">*</label></label>
      <div class="col-sm-7">
        <select class="form-select " required="required" [formControlName]="'genre'" [ngClass]="{ 'is-invalid': submitted && f.genre.errors }">
          <option value="M">masculin</option>
          <option value="F">feminin</option>
        </select>
      </div>
      <div *ngIf="submitted && f.genre.errors" class="input_alert">
        <div *ngIf="f.genre.errors.required" class="alert-danger">genre is required</div>
      </div>
    </div>
    <div class="form-group row">
      <label class="fw-bold col-sm-4 col-form-label">Profil <label style="color: red">*</label></label>
      <div class="col-sm-7">
        <select placeholder="--select--" class="form-select" required="required" [formControlName]="'profil'" [ngClass]="{ 'is-invalid': submitted && f.profil.errors }">
          <option value="2">ADMIN</option>
          <option value="3">CM</option>
          <option value="4">FORMATEUR</option>
        </select>
      </div>
      <div *ngIf="submitted && f.email.errors" class="input_alert">
        <div *ngIf="f.profil.errors.required" class="alert-danger">Donner le profil</div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label  fw-bold">Avatar</label>
      <div class="col-sm-7">
        <input type="file" (change)="onSelectFile($event)" [formControlName]="'avatar'">
      </div>
    </div>
  </div>
  <div class="row btn-sm text-center mt-3">
    <button type="submit" class="btn btn-info">Add</button>
  </div>
</form>


